<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoqian.duty.dao.TestDao">

    <!--在这里定义Sql语句，并且这里的SQL语句的“id"需要与namespace="com.taoqian.duty.dao.TestDao"
    这个接口里面的方法名相同-->
    <select id="test" resultType="com.taoqian.duty.entity.TestDO">
      SELECT * FROM test
    </select>

</mapper>